<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>

  <p *ngIf="auth.loading" text-center>Loading...</p>
  <ng-template [ngIf]="!auth.loading">
    <!-- Not loading, not logged in: show login button -->
    <button
      ion-button
      block
      color="primary"
      *ngIf="!auth.loggedIn"
      (click)="auth.login()">Log In</button>
    <!-- Not loading, logged in: show profile and logout button -->
    <div *ngIf="auth.loggedIn">
      <h3>Hello!</h3>
      <ng-template [ngIf]="auth.user">
        <p>You are logged in as the following user:</p>
        <pre>{{ auth.user | json }}</pre>
      </ng-template>
      <button
        ion-button
        block
        color="danger"
        (click)="auth.logout()">Log Out</button>
    </div>
  </ng-template>

</ion-content>
